Package: com.johnzaro.sunrisesunsetinfo
Name: PerfectSunInfo
Depends: mobilesubstrate, com.spark.libsparkapplist, com.peterdev.libpddokdo, com.spark.libsparkcolourpicker, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 13)
Version: 2.2.1
Architecture: iphoneos-arm
Description: Shows Sunrise & Sunset Time Info
Maintainer: Johnzaro <johnzrgnns@gmail.com>
Author: Johnzaro <johnzrgnns@gmail.com>
Section: Tweaks
